.git
.github
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/app/public/*
storage/telegram_handler.lock
storage/telegram_handler.pid
public/build
.env
.env.*
!.env.example
*.md
docker-compose*.yml
.editorconfig
.phpunit.result.cache
phpunit.xml
tests/
