APP_DEBUG=true
APP_ENV=local
APP_KEY=
APP_PORT=8080
VITE_PORT=5173

DB_CONNECTION=pgsql
DB_HOST=postgres
DB_DATABASE=watcher
DB_USERNAME=watcher
DB_PASSWORD=secret

TELESCOPE_ADMIN_EMAIL=

TELEGRAM_APP_ID=
TELEGRAM_APP_HASH=
TELEGRAM_NOTIFY_BOT_TOKEN=
TELEGRAM_NOTIFY_GROUP_ID=
TELEGRAM_NOTIFY_BOT_WEBHOOK_URL=
TELEGRAM_LOGGER_BOT_TOKEN=
TELEGRAM_LOGGER_CHAT_ID=

HANDLER_PHP_BINARY=/usr/local/bin/php
