APP_DEBUG=true
APP_ENV=local
APP_KEY=SomeRandomString
DB_CONNECTION=pgsql
DB_DATABASE=
DB_HOST=
DB_PASSWORD=
DB_USERNAME=
TELESCOPE_ADMIN_EMAIL=
TELEGRAM_APP_ID=
TELEGRAM_APP_HASH=
TELEGRAM_NOTIFY_BOT_TOKEN=
TELEGRAM_NOTIFY_GROUP_ID=
TELEGRAM_NOTIFY_BOT_WEBHOOK_URL=https://example.com/<token>/webhook
TELEGRAM_LOGGER_BOT_TOKEN=
TELEGRAM_LOGGER_CHAT_ID=
