/vendor
/node_modules
/public/build
/public/MadelineProto.log
.env
.phpstorm.meta.php
_ide_helper.php
_ide_helper_models.php
MadelineProto.log
nohup.out
/public/.well-known/
settings.json
docker/watcher_backup.sql
