*.ids
*.iml
copyright
dataSources
dictionaries
httpRequests
inspectionProfiles
scopes
dataSources.local.xml
dataSources.xml
deployment.xml
laravel-idea.xml
laravel-idea-personal.xml
misc.xml
php.xml
phpunit.xml
php-docker-settings.xml
php-test-framework.xml
remote-mappings.xml
watcherTasks.xml
webResources.xml
workspace.xml
